.about_quiz {
    padding-top: 2em;
}

.profile-link {
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.quiz-heading {
    display: flex;
    align-items: center;
}

.quiz-heading > * {
    display: inline-block;
    margin: 0;
}

.num-questions {
    margin-left: .5em;
    background-color: crimson;
    color: #fff;
    padding: .3em .5em;
    border-radius: 10px;
    font-size: 12px;
}