.quiz-cont {
    margin-top: 1rem;
}

.question-list {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}

.question-link {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 12px;
    line-height: 25px;
    margin-right: .3em;
    margin-bottom: .3em;
    transition: none;
    color: black;
}
.question-link.review {
    width: auto;
    height: 25px;
    padding: 0 1em;
}

.question-link.active {
    background-color: darkblue;
    border-color: transparent;
    color: white;
}

.question-link.answered {
    background-color: rgba(0,0,0,0.2);
}

.answer-label {
    display: block;
}

.question-cont {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ccc;
}

.answer {

}

.answer-text {
    width: 100%;
}

.action {
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
}

.fill-in-blank {
    width: 150px;
}

.question-image-cont {
    text-align: center;
}

.question-image-cont > img {
    width: 200px;
    height: auto;
}

.fill-blank-correct {
    color: green;
}

.fill-blank-wrong {
    color: red;
}

.answered-box {
    padding: .5em 1em;
    margin: .5em 0;
    border-radius: 16px;
}

.answer-correct {
    background-color: green;
    color: #fff;
}

.answer-wrong {
    background-color: crimson;
    color: #fff;
}

.text-ans {
    font-size: 1.2em;
}

.text-correct {
    color: green;
}

.text-wrong {
    color: crimson;
}

.answer-radio > label {
    font-weight: bold;
}

.ans-radio-correct > label {
    color: green;
}

.ans-radio-wrong > label {
    color: crimson;
}

.answered-correctly {
    background: #54ff54;
}

.answered-wrong {
    background: #f46381;
}

.one-page-action {
    padding: 1em;
    text-align: right;
}

.practice-container {
    margin-top: 2em;
}
.practice-statistics {
    margin-bottom: 1em;
}
.statistics-wrapper {
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .3em;

}