
/* Make the footer stick to the bottom of the screen */

html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

/* No wrap fix */
#search-form > .input-group {
	flex-wrap: nowrap;
}

/* Navbar */

.title-box span {
	font-family: 'PaintyPaint', sans-serif;
	font-size: 2em;
	color: #fff;
}

.navbar--blue {
	background: linear-gradient(to right, #396afc, #2948ff);
	/* background: linear-gradient(115deg, #3cc5d7, #47d794) */
}

.menu-item {
	border-radius: 5px;
}

.menu-item a {
	color: rgba(255, 255, 255, 0.75);
}

.menu-item:hover a {
	color: rgba(255, 255, 255, 1);
}

.menu-item:hover {
	background-color: rgba(0,0,0,0.2);
}

.search-box {
	width: 250px!important;
}

.search-box, .search-box:focus {
	border: none!important;
	box-shadow: none;
}

.search-button {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: none!important;
}

.search-button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.search-button:focus,
.search-button:focus-visible,
.search-button:active {
	background-color: rgba(255, 255, 255, 0.5)!important;
}

.user-cont > span {
	color: #fff;
}

#user-dropdown > .btn {
	/* Blue Variant
		background-color: #1d5bfe;
		border: 1px solid #0030b1;
	*/
	background-color: indianred;
	border: none;
	border-radius: 30px;
}

#user-dropdown:hover > .btn {
	/* Blue Variant
		background-color: #0030b1;
	*/
	/*background-color: crimson;*/
}

.account-buttons {
	display: flex;
	align-items: center;
}

.account-button {
	position: relative;
	margin-right: 1rem;
}

.not-logged-in .account-button {
	margin-right: .5rem;
}

.mail-btn {
	color: #fff!important;
	font-size: 25px;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.mail-counter {
	position: absolute;
	color: white;
	background-color: crimson;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .7em;
	right: -.5em;
	bottom: -.5em;
}

/* Footer */
.page-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}

/* Main Content */


/* Announcements */
.anno-post-text {
	border-bottom: 1px dashed #cccccc;
	padding-bottom: 1em;
}


.post-title {
	width: 40%;
}

.anno-meta {
	margin-bottom: .3em;
}

.anno-meta > div {
	display: inline-block;
}

.anno-by-admin {
	color: red;
	font-weight: bold;
}

.anno-item {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 1rem;
}

.anno-item:hover {
	border: 1px solid #7b7474;
	box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.anno-reaction > div {
	display: inline-block;
}

.anno-text > p {
	margin-bottom: 0.5rem;
}

.anno-loved {
	color: rgba(255, 0, 0, 0.9);
}

.anno-hated {
	color: #4922b7;
}

.anno-loved:hover, .anno-hated:hover {
	transform: scale(1.2);
}

.anno-loved, .anno-hated {
	font-size: 1.1em;
	cursor: pointer;
	transition: transform .3s;
}


/* Group Sections */

.group-section {
	margin-bottom: 1.2rem;
}

.g-list {
	position: relative;
	z-index: 100;
}

.g-content {
	border: 1px solid #ccc;
	border-radius: 7px;
	position: relative;
}

.g-title-cont {
	position: absolute;
	margin-top: -1.9em;
	padding: 1em;
}

.g-title-bg {
	position: relative;
}
.g-title-bg > h4 {
	position: relative;
	z-index: 4;
}

.g-title-bg::before {
	content: " ";
	position: absolute;
	background-color: #fff;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
}

/* Account Access */

.ac-access-page {
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}

.form-container {
	padding: 2rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.2);
	max-width: 500px;
}

.input-cont {
	padding-bottom: .7rem;
}

.input-cont .btn {
	width: 100%;
}

.login-alert > a {
	position: absolute;
	text-decoration: none;
	color: darkred;
	height: 16px;
	display: block;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}

/* Profile */
.user-not-found {
	text-align: center;
	padding: 5rem 0;
}

.user-not-found h3 {
	color: #aaa;
}

.user-profile {
	padding: 1.5rem;
	margin-top: 3rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	position: relative;
}

.user-action {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.profile-row {
	display: flex;
}

.user-details-cont {
	padding-left: 1rem;
}

.profile-note {
	padding: 1rem;
	margin-right: .5rem;

	flex-grow: 1;
}

.profile-sub-row > .profile-note {
	border-right: 1px dashed #ccc;
}

.profile-sub-row > .profile-note:last-child {
	border: none;
}

.profile-note ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.profile-note ul a {
	text-decoration: none;
}

.profile-note ul a:hover {
	text-decoration: underline;
}

.name-lastname-cont > h3 {
	margin: 0;
}

.profile-sub-row {
	display: flex;
	padding-top: .5rem;
}

.username-cont > p {
	color: #403b3b;
	font-weight: bold;
}

.about-cont {
	background: aqua;
	padding: 1em;
}

.owner-action {
	text-align: center;
}

.btn-action {
	padding-top: .2rem;
}

.achievement-cont {
	margin-top: 1rem;
}

.achievement-cont h4 {
	font-size: 1.2em;
	color: gold;
}

.achievement-cont ul {
	list-style: none;
	padding-left: 0;
}

.achievement-cont ul li {
	font-weight: bold;
}

.about-me-edit {
	font-size: 1rem;
}

.btn-round {
	border-radius: 30px;
}

.quiz-row {
	display: flex;
	flex-wrap: nowrap;
}

.quiz-wrap {
	width: 20%;
	margin: 0;
}

.quiz-wrap {
	padding-right: .25em;
}

.quiz-wrap:last-child {
	padding-right: 0;
}

.quiz-card:hover img {
	transform: scale3d(1.1, 1.1, 1.1);
	z-index: 9999;
}

.quiz-card {
	position: relative;
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0;
	/* https://colorkit.co/gradient/62cff4-2c67f2/ */
	background: linear-gradient(115deg, #62cff4, #2c67f2);
}

.quiz-card img {
	position: absolute;
	width: 100%;
	height: 100%;

	transition: transform .3s;
	z-index: 1000;
}

.quiz-card span {
	z-index: 10000;
	text-align: center;
	background-color: crimson;
	color: #fff;
}

.quiz-row {
	margin-bottom: 2em;
}

.g-list {
	padding-right: 1em;
	padding-left: 1em;
}

.friend-quiz-author {
	color: #f18383;
	font-weight: BOLD;
}