<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Context Listeners -->

  <listener>
    <listener-class>Database.DatabaseContextListener</listener-class>
  </listener>
  <!-- Context Listeners END -->

  <!-- Servlet Definitions -->
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Home.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Register.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Profile.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>Mail.MailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>Quiz.QuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>Layout.CreateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExploreServlet</servlet-name>
    <servlet-class>Layout.ExploreServlet</servlet-class>
  </servlet><servlet>
  <servlet-name>RandomServlet</servlet-name>
  <servlet-class>Layout.RandomServlet</servlet-class>
</servlet>
  <servlet>
    <servlet-name>AboutQuizServlet</servlet-name>
    <servlet-class>AboutQuiz.AboutQuizServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <servlet-class>QuizAttempt.QuizAttemptServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishAnnoServlet</servlet-name>
    <servlet-class>PublishAnno.PublishAnnoServlet</servlet-class>
  </servlet>
  <!-- Servlet Definitions END -->

  <!-- Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AboutQuizServlet</servlet-name>
    <url-pattern>/about_quiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExploreServlet</servlet-name>
    <url-pattern>/explore</url-pattern>
  </servlet-mapping><servlet-mapping>
  <servlet-name>RandomServlet</servlet-name>
  <url-pattern>/random</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <url-pattern>/attempt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishAnnoServlet</servlet-name>
    <url-pattern>/publish</url-pattern>
  </servlet-mapping>

  <!-- Servlet Mapping END -->

</web-app>